html {
    height: 100vh;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}
    
button {
    background-color: #1a73e8;
    color: #fff;
}
#navbar {
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px 50px 100px;
    grid-template-rows: 50px;
    grid-template-areas: 
    "about store . gmail images menu profile";
}

#about {
    grid-area: about;
    justify-self: center;
    align-self: center;
}
#store {
    grid-area: store;
    justify-self: center;
    align-self: center;
}
#gmail {
    grid-area: gmail;
    justify-self: center;
    align-self: center;
}
#images {
    grid-area: images;
    justify-self: center;
    align-self: center;
}
#menu {
    grid-area: menu;
    justify-self: center;
    align-self: center;
}

#profile {
    grid-area: profile;
    justify-self: center;
    align-self: center;
}

#main {
    display: grid;
    height: 90vh;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 250px 50px 50px ;
    grid-template-areas: 
    ". logo ."
    ". searchbar ."
    ". flexbox . " ;
}
#flexbox {
    grid-area: flexbox;
    justify-self: center;
    align-self: center;
}
#logo {
    grid-area: logo;
    justify-self: center;
    align-self: flex-end;
    
}

#searchbar {
    grid-area: searchbar;
    justify-self: center;
    align-self: center;
    justify-items: start;

}

#searchbutton {
    grid-area: searchbutton;
    justify-self: center;
    align-self: center;

}

#randombutton {
    grid-area: randombutton;
    justify-self: center;
    align-self: center;

}


#footerLinks {

    display:grid;
    background: #f2f2f2;
    grid-template-columns: auto;
    grid-template-areas: 
    "advertising business searchWorks . carbon . privacy terms settings";

}

#advertising {
    grid-area: advertising;
}

#business {
    
    grid-area: business;
}

#searchWorks {
    grid-area: searchWorks;
}

#carbon {
    grid-area: carbon;
}

#privacy {
    grid-area: privacy;
}

#terms {
    grid-area: terms;
}

#settings {
    grid-area: settings;
}