html body {
    height: 100%;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
	padding: 0;
	border: 0;
    position: relative;
}

a {
    text-decoration: none;
    color: #222;
    font-size: 14px;
}
a:hover,
a:active {
 text-decoration:underline
}
button:hover {
    cursor: pointer;
    background: #2b7de9;
}
input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;

}

input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #r8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

button {
    background-color: #1a73e8;
    color: #fff;
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
}

ul {
    list-style-type: none;    
}


#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar img {
    display: flex;
    align-items: center;
}
#navbar li {
    padding-top: 0px;
    padding-right: 20px;
}

#main {
    display: grid;
    height: 100%;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 250px 50px 50px;
    grid-template-areas: 
    ". logo ."
    ". searchbar ."
    ". flexbox . " ;
}
#flexbox {
    grid-area: flexbox;
    justify-self: center;
    align-self: center;
}
#logo {
    grid-area: logo;
    justify-self: center;
    align-self: flex-end;
    
}

#searchbar{
    grid-area: searchbar;
    min-width: 582px;
    max-width: 584px;    
    height: 44px;
    align-self: center;
    justify-self: center;
    border-radius: 24px;
    border-color: rgb(223, 225, 229);
    border-style: solid;
    border-width: 1px;
}

#searchbar:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    border-color: rgba(223, 225, 229, 0);
}

#searchbar img {
    position: relative;
    justify-self: start;
}
#searchbutton {
    grid-area: searchbutton;
    justify-self: center;
    align-self: center;
}

#randombutton {
    grid-area: randombutton;
    justify-self: center;
    align-self: center;


}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
#footerLinks {
    display: grid;
    grid-template-columns: 25% 50% 25%;   
    grid-template-rows: 100%;
    grid-template-areas: 
    "left middle right"
    ;
    background-color: #f2f2f2;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    
}

#footerLinks a {
    color: #70757a;

}
#leftUl {
    grid-area: left;
    display: flex;
}

#centerUl {
    grid-area: middle;
    display: flex;
    justify-self: center;
}

#centerUl img {
    vertical-align: middle;
}
#rightUl {
    grid-area: right;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

#footerLinks li {
    padding-right: 20px;

}